<!DOCTYPE html>
<html ng-app="switchTab">
    <head>
        <title>Quick Switch Tabs</title>
        <link rel="stylesheet" href="lib/ionicons/css/ionicons.min.css" type="text/css">
        <link rel="stylesheet" href="tabs.css" type="text/css">
    </head>
    <body>
        <div ng-controller="TabCtrl">
            <div class="dark-search" id="tab-ctrl">
                <span class="search-icon icon-left"><i class="ion-ios7-search-strong"></i></span>
                <input type="text" ng-model="search" ng-keydown="onKeydown($event)" autofocus="autofocus">
                <span class="search-icon icon-right" ng-click="searchClear()"><i class="ion-close-circled"></i></span>
            </div>
            <div>            
                <div ng-repeat="tab in showTabs" ng-click="selectTab(tab)" class="dark-list" ng-class="{active: isSelected(tab)}">
                    <img ng-src="{{tab.favIconUrl || 'lib/ionicons/src/document.svg'}}" class="fav-img">
                    <div class="tab-title">{{tab.title}}</div>
                    <div class="bottom-line">
                        <span class="window-id">{{tab.windowCount}}</span>
                        <div class="tab-url">{{tab.url}}</div>
                        <span class="last-time" am-time-ago="tab.lastActive"></span>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="lib/angular/angular.min.js"></script>
        <script type="text/javascript" src="lib/moment/min/moment.min.js"></script>
        <script type="text/javascript" src="lib/angular-moment/angular-moment.min.js"></script>
        <script type="text/javascript" src="tabs.js"></script>
    </body>
</html>
